
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);    
}



body{
    background-color:var(--Light-gray);
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.contenedor{
    width: 350px;
    display: flex;
    flex-direction:column ;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    padding-bottom: 40px;
}

img{
    width: 90%;
    border-radius: 20px;
    margin-top: 15px;
}


p{
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

h1{
    font-size: 25px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}






